Repository amuyif523/georise-main: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npm --prefix backend run lint, npm --prefix frontend run lint, npm --prefix responder-app run lint

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,md,css,scss,html,yaml,yml}": "prettier --write",
  "backend/**/*.{ts,tsx}": "npm --prefix backend run lint",
  "frontend/**/*.{ts,tsx}": "npm --prefix frontend run lint",
  "responder-app/**/*.{ts,tsx}": "npm --prefix responder-app run lint"
}

Mark pre-commit hook setup complete
  docs/implementation-plan.md
Due: prettier --write

Fix lint-staged eslint config resolution
  .lintstagedrc.json
  backend/.env.example
  backend/.env.production
  backend/.env.test.example
  backend/eslint.config.js
  backend/package-lock.json
  backend/package.json
  backend/src/config/env.ts
  backend/src/modules/sms/sms.service.ts
  docs/implementation-plan.md
Due: prettier --write, npm --prefix backend run lint

Add backend web push notifications
  backend/.env.example
  backend/.env.production
  backend/.env.test.example
  backend/package-lock.json
  backend/package.json
  backend/prisma/migrations/20251217193000_add_push_subscriptions/migration.sql
  backend/prisma/schema.prisma
  backend/src/config/env.ts
  backend/src/modules/alert/alert.service.ts
  backend/src/modules/incident/incident.routes.ts
  backend/src/modules/push/push.service.ts
  backend/src/modules/user/user.controller.ts
  backend/src/modules/user/user.routes.ts
  backend/src/modules/user/user.service.ts
Due: prettier --write, npm --prefix backend run lint

Add frontend push notifications
  frontend/.env.example
  frontend/.env.production
  frontend/src/components/NotificationManager.tsx
  frontend/src/sw.ts
  frontend/vite.config.ts
Due: prettier --write, npm --prefix frontend run lint

Update implementation plan for push notifications
  docs/implementation-plan.md
Due: prettier --write

Fix backend package-lock for CI install
  backend/package-lock.json
Due: prettier --write

Relax backend lint rules and fix responder route lint
  backend/eslint.config.js
  backend/src/modules/gis/routing.service.ts
  backend/src/modules/responders/responder.routes.ts
Due: prettier --write, npm --prefix backend run lint

Fix backend build type errors for incident filters
  backend/src/modules/incident/incident.routes.ts
Due: prettier --write, npm --prefix backend run lint

Align frontend deps for npm ci (vite 5 + PWA plugin)
  frontend/package-lock.json
  frontend/package.json
Due: prettier --write

Fix frontend tests and exclude e2e from vitest
  frontend/src/pages/RegisterPage.tsx
  frontend/src/test/LoginRegister.test.tsx
  frontend/src/test/ReportIncidentWizard.test.tsx
  frontend/vite.config.ts
Due: prettier --write, npm --prefix frontend run lint

Fix frontend build: remove unused React imports and use vitest config
  frontend/src/test/LoginRegister.test.tsx
  frontend/src/test/ReportIncidentWizard.test.tsx
  frontend/vite.config.ts
Due: prettier --write, npm --prefix frontend run lint

Align responder app deps for npm ci (vite 5 + PWA plugin)
  responder-app/package-lock.json
  responder-app/package.json
Due: prettier --write

Fix responder app lint config for eslint 9
  responder-app/eslint.config.js
Due: prettier --write

Add incident photo uploads with storage and UI display
  backend/prisma/migrations/20251218090000_add_incident_photos/migration.sql
  backend/prisma/schema.prisma
  backend/src/app.ts
  backend/src/config/env.ts
  backend/src/middleware/upload.ts
  backend/src/modules/incident/incident.controller.ts
  backend/src/modules/incident/incident.routes.ts
  backend/src/modules/incident/incident.service.ts
  docs/implementation-plan.md
  frontend/src/components/incident/IncidentDetailPane.tsx
  frontend/src/pages/ReportIncidentWizard.tsx
Due: prettier --write, npm --prefix backend run lint, npm --prefix frontend run lint

Run prisma generate in CI before backend tests
  .github/workflows/ci.yml
Due: prettier --write

Fix Prisma relation for incident photo uploader
  backend/prisma/schema.prisma
Due: none

Add multer deps for incident photo uploads
  backend/package-lock.json
  backend/package.json
Due: prettier --write

Enforce crisis mode: block low-priority incidents and disable hazard UI
  backend/src/modules/incident/incident.service.ts
  docs/implementation-plan.md
  frontend/src/pages/ReportHazardPage.tsx
  frontend/src/pages/ReportIncidentWizard.tsx
Due: prettier --write, npm --prefix backend run lint, npm --prefix frontend run lint

chore: ignore coverage artifacts
  .gitignore
  backend/.gitignore
Due: none

chore: stabilize backend vitest runner
  backend/vitest.config.ts
Due: prettier --write, npm --prefix backend run lint

feat: integrate real routing provider with caching
  backend/.env.example
  backend/.env.production
  backend/.env.test.example
  backend/src/config/env.ts
  backend/src/modules/dispatch/dispatch.service.ts
  backend/src/modules/gis/routing.service.ts
  docs/implementation-plan.md
Due: prettier --write, npm --prefix backend run lint

docs: fix routing task duplication
  docs/implementation-plan.md
Due: prettier --write

feat: add password reset flow
  backend/prisma/migrations/20251218110000_add_password_reset_token/migration.sql
  backend/prisma/schema.prisma
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.routes.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/auth.types.ts
  backend/src/modules/auth/auth.validation.ts
  docs/implementation-plan.md
  frontend/src/main.tsx
  frontend/src/pages/ForgotPasswordPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/ResetPasswordPage.tsx
Due: prettier --write, npm --prefix backend run lint, npm --prefix frontend run lint

feat: add password reset flow
  frontend/src/pages/ForgotPasswordPage.tsx
  frontend/src/pages/ResetPasswordPage.tsx
Due: prettier --write, npm --prefix frontend run lint

chore: format auth routes
  backend/src/modules/auth/auth.routes.ts
Due: prettier --write, npm --prefix backend run lint

feat: add analytics CSV exports and UI controls
  backend/src/modules/analytics/analytics.routes.ts
  docs/implementation-plan.md
  frontend/src/pages/AgencyAnalyticsPage.tsx
  frontend/src/pages/admin/AnalyticsPage.tsx
Due: prettier --write, npm --prefix backend run lint, npm --prefix frontend run lint

docs: mark automated tests complete
  docs/implementation-plan.md
Due: prettier --write

test: add password reset backend and UI coverage
  backend/test/passwordReset.test.ts
  frontend/src/test/ForgotReset.test.tsx
Due: prettier --write, npm --prefix backend run lint, npm --prefix frontend run lint

test: fix hoisted mock in forgot/reset spec
  frontend/src/test/ForgotReset.test.tsx
Due: prettier --write, npm --prefix frontend run lint

test: fix selectors in forgot/reset UI spec
  frontend/src/test/ForgotReset.test.tsx
Due: prettier --write, npm --prefix frontend run lint

test: align forgot/reset selectors with placeholders
  frontend/src/test/ForgotReset.test.tsx
Due: prettier --write, npm --prefix frontend run lint

feat: add responder simulation job and admin toggle
  backend/src/jobs/responderSimulation.job.ts
  backend/src/modules/demo/demo.routes.ts
  backend/src/server.ts
  docs/implementation-plan.md
  frontend/src/pages/admin/AdminDemoControlPage.tsx
Due: prettier --write, npm --prefix backend run lint, npm --prefix frontend run lint

fix: typing for responder simulation cron
  backend/src/jobs/responderSimulation.job.ts
Due: prettier --write, npm --prefix backend run lint

test: fix label association for forgot/reset forms
  frontend/src/pages/ForgotPasswordPage.tsx
  frontend/src/pages/ResetPasswordPage.tsx
  frontend/src/test/ForgotReset.test.tsx
Due: prettier --write, npm --prefix frontend run lint

feat(frontend): dedupe auth bootstrap and harden sockets
  frontend/src/context/AuthContext.tsx
  frontend/src/lib/socket.ts
  frontend/src/pages/LoginPage.tsx
Due: prettier --write, npm --prefix frontend run lint

docs: refresh runbook and implementation status
  docs/deployment/full-system-guide.md
  docs/feature-list.md
  docs/implementation-plan.md
  implementation-plan.md
Due: prettier --write

chore(env): add defaults for frontend and responder
  frontend/.env.production
  responder-app/.env.example
Due: none

feat(auth): environment-aware limiters and relaxed /me
  backend/src/app.ts
  backend/src/middleware/rateLimiter.ts
  backend/src/modules/auth/auth.routes.ts
Due: prettier --write, npm --prefix backend run lint

feat(auth): handle 429 backoff in login flows
  frontend/src/lib/api.ts
  frontend/src/pages/LoginPage.tsx
Due: prettier --write, npm --prefix frontend run lint
