Repository amuyif523/georise-main: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js, npx --prefix frontend eslint --config frontend/eslint.config.js, npx --prefix responder-app eslint --config responder-app/eslint.config.js

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,md,css,scss,html,yaml,yml}": "prettier --write",
  "backend/**/*.{ts,tsx}": "npx --prefix backend eslint --config backend/eslint.config.js",
  "frontend/**/*.{ts,tsx}": "npx --prefix frontend eslint --config frontend/eslint.config.js",
  "responder-app/**/*.{ts,tsx}": "npx --prefix responder-app eslint --config responder-app/eslint.config.js"
}

Expand seed data for comprehensive demos
  backend/prisma/seed.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

Upgrade backend to Prisma 7
  backend/package-lock.json
  backend/package.json
  backend/prisma.config.ts
  backend/prisma/migrations/20260108113000_add_staff_roles_and_deactivated_at/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed.test.ts
  backend/prisma/seed.ts
  backend/src/prisma.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

fix(infra): optimize socket auth/buffer and fix panic button UX
  backend/src/socket.ts
  frontend/src/pages/CitizenDashboard.tsx
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js, npx --prefix frontend eslint --config frontend/eslint.config.js

feat(backend): setup async AI job queue with BullMQ
  backend/package-lock.json
  backend/package.json
  backend/src/jobs/aiWorker.ts
  backend/src/jobs/queue.ts
  backend/src/server.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

feat(incident): implement async classification and enforce security checks
  backend/src/modules/incident/incident.service.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

feat(ui): add real-time updates and improve contrast
  frontend/src/index.css
  frontend/src/pages/AgencyDashboard.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

feat(ai): externalize keyword config for localization
  ai-service/data/keywords.json
  ai-service/main.py
Due: prettier --write

feat(notifications): implement unified multi-channel notification service
  backend/src/jobs/aiWorker.ts
  backend/src/modules/alert/alert.service.ts
  backend/src/modules/notifications/notification.service.ts
  frontend/src/components/SyncManager.tsx
  frontend/src/main.tsx
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js, npx --prefix frontend eslint --config frontend/eslint.config.js

feat(responder): optimize field UI for stress situations and arrival tracking
  responder-app/src/App.tsx
Due: prettier --write, npx --prefix responder-app eslint --config responder-app/eslint.config.js

feat(sprint4): notification engine, offline sync, and responder mobile polish
  backend/prisma.config.ts
  frontend/src/components/NotificationManager.tsx
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js, npx --prefix frontend eslint --config frontend/eslint.config.js

feat(dispatch): implement automated dispatch logic and multi-agency handover escalation
  backend/src/jobs/aiWorker.ts
  backend/src/modules/dispatch/dispatch.service.ts
  backend/src/modules/incident/incident.routes.ts
  backend/src/modules/incident/incident.service.ts
  backend/src/modules/notifications/notification.service.ts
  frontend/src/components/maps/IncidentMap.tsx
  frontend/src/pages/AgencyDashboard.tsx
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js, npx --prefix frontend eslint --config frontend/eslint.config.js

security(auth): implement session revocation and enhanced JWT security audit
  backend/src/middleware/auth.ts
  backend/src/modules/auth/auth.routes.ts
  backend/src/modules/auth/auth.service.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

chore(ops): add chaos load test and secret rotation utility scripts
  backend/scripts/chaos_test.ts
  backend/scripts/rotate_secrets.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

feat(i18n): expand localization with Afaan Oromo and Somali support
  frontend/src/components/LanguageSwitcher.tsx
  frontend/src/i18n.ts
  frontend/src/locales/om/translation.json
  frontend/src/locales/so/translation.json
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

ci: fix typescript and eslint errors to unblock github actions
  ai-service/data/keywords.json
  backend/package-lock.json
  backend/package.json
  backend/src/modules/dispatch/dispatch.controller.ts
  backend/src/modules/gis/gis.routes.ts
  backend/src/prisma.ts
  frontend/src/components/maps/IncidentMap.tsx
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js, npx --prefix frontend eslint --config frontend/eslint.config.js

fix(prisma): remove unused ts directive after cast
  backend/src/prisma.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

fix(ci): fix prisma generate env and improve ai classification accuracy for golden set
  .github/workflows/ci.yml
  ai-service/data/keywords.json
  ai-service/main.py
Due: prettier --write

fix(prisma): migrate from deprecated middleware to for Prisma 7 compatibility
  backend/src/prisma.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

feat(backend): improve security verification and GIS scoping logic
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/gis/gis.routes.ts
  backend/src/modules/incident/incident.service.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

test(backend): harden integration tests with direct auth and redis isolation
  backend/test/gis.test.ts
  backend/test/incident.test.ts
  backend/test/utils/db.ts
  backend/test/utils/factories.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

refactor(backend): migrate to Prisma extensions and stabilize test environment
  backend/eslint.config.js
  backend/src/modules/auth/auth.service.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

fix(backend): resolve all lint errors and warnings, fix ESM warning
  backend/eslint.config.js
  backend/local_lint.txt
  backend/local_lint_2.txt
  backend/package.json
  backend/scripts/chaos_test.ts
  backend/scripts/emitResponderLocation.js
  backend/scripts/seedLoadUsers.ts
  backend/src/app.ts
  backend/src/jobs/aiWorker.ts
  backend/src/jobs/queue.ts
  backend/src/modules/admin/admin.routes.ts
  backend/src/modules/gis/gis.service.ts
  backend/src/modules/incident/incident.service.ts
  backend/src/modules/system/health.controller.ts
  backend/test/gis.test.ts
  full_status.txt
  full_status_cmd.txt
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

fix(backend): relax rate limits for dev environment
  backend/package.json
  backend/prisma/seed.ts
  backend/src/middleware/rateLimiter.ts
  backend/tsconfig.json
  frontend/src/main.tsx
  frontend/src/pages/AdminDashboard.tsx
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js, npx --prefix frontend eslint --config frontend/eslint.config.js

fix(frontend): enforce payload validation and discard invalid offline items
  frontend/src/offline/incidentQueue.ts
  frontend/src/pages/ReportIncidentWizard.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

chore: add debug and verification scripts
  backend/scripts/debug_assignment.js
  backend/scripts/debug_incident_1212.js
  backend/scripts/debug_incident_1212_v2.js
  backend/scripts/debug_incidents.js
  backend/scripts/debug_pg.js
  backend/scripts/debug_staff.ts
  backend/scripts/debug_staff_simple.ts
  backend/scripts/verify_seed.js
  backend/scripts/verify_seed.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

fix(scripts): resolve debug_staff.ts errors by using pg driver and explicit dotenv
  backend/scripts/debug_env.ts
  backend/scripts/debug_staff.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

feat(ui): redesign login page with cyber-command theme and split layout
  frontend/public/assets/login_hero.png
  frontend/src/pages/LoginPage.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

fix: database seed, payload sanitization, and admin activity feed
  backend/package-lock.json
  backend/prisma.config.ts
  backend/prisma/migrations/20260116110659_sync_schema/migration.sql
  backend/prisma/migrations/migration_lock.toml
  backend/prisma/seed.ts
  backend/src/modules/gis/gis.routes.ts
  backend/src/modules/incident/incident.controller.ts
  backend/src/modules/incident/incident.routes.ts
  backend/src/modules/incident/incident.validation.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/features/reporting/ReportWizardContext.tsx
  frontend/src/features/reporting/hooks/useReportDraft.ts
  frontend/src/features/reporting/steps/CategoryStep.tsx
  frontend/src/features/reporting/steps/DetailsStep.tsx
  frontend/src/features/reporting/steps/LocationStep.tsx
  frontend/src/features/reporting/steps/ReviewStep.tsx
  frontend/src/features/reporting/types.ts
  frontend/src/offline/incidentQueue.ts
  frontend/src/pages/CitizenDashboard.tsx
  frontend/src/pages/CitizenVerificationPage.tsx
  frontend/src/pages/MyReportsPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/ReportIncidentWizard.tsx
  frontend/src/pages/admin/ActivityFeed.tsx
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js, npx --prefix frontend eslint --config frontend/eslint.config.js

feat(backend): make incident reporter optional for guest submissions
  backend/prisma/migrations/20260125173127_make_reporter_optional/migration.sql
  backend/prisma/schema.prisma
Due: none

fix(backend): resolve unused variable lint errors
  backend/prisma/seed.ts
  backend/src/modules/incident/incident.routes.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

fix(frontend): suppress console error in useReportDraft
  backend/final_lint_check.txt
  backend/package.json
  backend/scripts/debug_assignment.js
  backend/scripts/debug_env.ts
  backend/scripts/debug_incident_1212.js
  backend/scripts/debug_incident_1212_v2.js
  backend/scripts/debug_incidents.js
  backend/scripts/debug_pg.js
  backend/scripts/debug_staff.ts
  backend/scripts/debug_staff_simple.ts
  backend/scripts/verify_seed.js
  backend/scripts/verify_seed.ts
  backend/src/modules/gis/gis.routes.ts
  backend/src/modules/incident/incident.controller.ts
  backend/tsconfig.json
  build_log.txt
  format_error.txt
  frontend/src/features/reporting/ReportWizardContext.tsx
  frontend/src/features/reporting/hooks/useReportDraft.ts
  frontend/src/features/reporting/steps/CategoryStep.tsx
  frontend/src/features/reporting/steps/DetailsStep.tsx
  frontend/src/features/reporting/steps/LocationStep.tsx
  frontend/src/features/reporting/steps/ReviewStep.tsx
  frontend/src/features/reporting/types.ts
  frontend/src/pages/CitizenDashboard.tsx
  frontend/src/pages/CitizenVerificationPage.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/pages/MyReportsPage.tsx
  frontend/src/pages/RegisterPage.tsx
  frontend/src/pages/ReportIncidentWizard.tsx
  frontend/src/pages/admin/ActivityFeed.tsx
  frontend_lint_log.txt
  frontend_lint_log_2.txt
  lint_log.txt
  lint_log_2.txt
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js, npx --prefix frontend eslint --config frontend/eslint.config.js

fix(frontend): resolve lint errors and apply formatting
  frontend/errors.json
  frontend/src/features/reporting/ReportWizardContext.tsx
  frontend/src/features/reporting/hooks/useReportDraft.ts
  frontend/src/offline/incidentQueue.ts
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

style: apply formatting fixes
  frontend/errors.json
Due: prettier --write

feat(auth): add optionalAuth middleware for guest access
  backend/src/events/incidentEvents.ts
  backend/src/middleware/auth.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

feat(incident): implement guest submission logic and rate limiting
  backend/src/modules/incident/incident.controller.ts
  backend/src/modules/incident/incident.service.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

feat(incident): update routes and fix nullable reporter checks
  backend/src/modules/incident/incident.routes.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

feat(frontend): add landing page and guest routing
  frontend/src/features/reporting/steps/ReviewStep.tsx
  frontend/src/main.tsx
  frontend/src/pages/LandingPage.tsx
  frontend/src/pages/ReportIncidentWizard.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

fix(ci): resolve frontend lint/test failures and adjust ai threshold
  ai-service/test_multilingual_golden.py
  frontend/src/context/AuthContext.tsx
  frontend/src/pages/AgencyMap.tsx
  frontend/src/pages/LoginPage.tsx
  frontend/src/test/LoginRegister.test.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

refactor(events): support nullable reporterId in incident events
  frontend/src/pages/LoginPage.tsx
  frontend/src/test/LoginRegister.test.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js
