Repository amuyif523/georise-main: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js, npx --prefix frontend eslint --config frontend/eslint.config.js, npx --prefix responder-app eslint --config responder-app/eslint.config.js

fix(frontend): use env API base URL and default seeded credentials
  frontend/src/lib/api.ts
  frontend/src/pages/LoginPage.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

chore: tidy session limiter order and rate-limit UX
  backend/src/modules/auth/auth.routes.ts
  frontend/src/pages/LoginPage.tsx
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js, npx --prefix frontend eslint --config frontend/eslint.config.js

fix(incident): harden duplicate check params
  backend/src/modules/incident/incident.controller.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

chore(i18n): enable missing key inventory and querystring detection
  frontend/src/i18n.ts
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

feat(i18n): localize incident wizard guidance and validation
  frontend/src/locales/am/translation.json
  frontend/src/locales/en/translation.json
  frontend/src/pages/ReportIncidentWizard.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

feat(i18n): localize analytics filters and labels
  frontend/src/locales/am/translation.json
  frontend/src/locales/en/translation.json
  frontend/src/pages/admin/AnalyticsPage.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

feat(i18n): localize forgot/reset auth flows (en/am)
  frontend/src/locales/am/translation.json
  frontend/src/locales/en/translation.json
  frontend/src/pages/ForgotPasswordPage.tsx
  frontend/src/pages/ResetPasswordPage.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

chore(a11y): sync lang attr and add aria alerts on auth/incident forms
  frontend/src/i18n.ts
  frontend/src/pages/ForgotPasswordPage.tsx
  frontend/src/pages/ReportIncidentWizard.tsx
  frontend/src/pages/ResetPasswordPage.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

chore(ai): refresh Amharic smoke tests with real UTF-8 cases
  ai-service/test_amharic.py
Due: none

Improve Amharic heuristic, severity cues, and smoke tests
  ai-service/main.py
  ai-service/test_amharic.py
  ai-service/utils/severity.py
Due: none

Replace corrupted Amharic locale with readable translations
  frontend/src/locales/am/translation.json
Due: prettier --write

Add Amharic data augmentation, validation, and golden regression
  ai-service/README.md
  ai-service/data/README.md
  ai-service/data/golden_amharic.csv
  ai-service/data/incidents_am_aug.csv
  ai-service/test_amharic_golden.py
  ai-service/training/train_incident_classifier.py
  ai-service/training/validate_dataset.py
Due: prettier --write

Add language-stratified training eval and model metadata
  ai-service/README.md
  ai-service/main.py
  ai-service/training/evaluate_model.py
  ai-service/training/train_incident_classifier.py
Due: prettier --write

fix: avoid geometry deserialize in demo seed
  backend/src/modules/demo/demo.service.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

docs: expand AI and i18n QA guidance
  docs/deployment/full-system-guide.md
  docs/testing/i18n-checklist.md
Due: prettier --write

fix: clean demo activity logs before deleting incidents
  backend/src/modules/demo/demo.service.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

fix: guard analytics avg minutes formatting
  frontend/src/pages/admin/AnalyticsPage.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

Harden responder and incident RBAC with pagination and audit logs
  backend/src/modules/admin/admin.routes.ts
  backend/src/modules/incident/incident.routes.ts
  backend/src/modules/responders/responder.routes.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

Update implementation plan with RBAC/CRUD hardening sprints
  docs/implementation-plan.md
Due: prettier --write

Fix pagination schema typing for admin user routes
  backend/src/modules/admin/admin.routes.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

Fix frontend tests: i18n mocks, wizard validation, login expectation
  frontend/src/pages/ReportIncidentWizard.tsx
  frontend/src/test/LoginRegister.test.tsx
  frontend/src/test/setup.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

Enhance admin/agency user console with filters, invites, and force reset
  backend/src/modules/responders/responder.routes.ts
  frontend/src/pages/admin/UsersPage.tsx
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js, npx --prefix frontend eslint --config frontend/eslint.config.js

Add AI retry/backoff and document numpy<2 with CI eval helper
  ai-service/README.md
  ai-service/scripts/run_eval_ci.sh
  backend/src/modules/incident/incident.service.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

Harden GIS access, add AI metadata in health, and GIS auth tests
  ai-service/main.py
  backend/src/modules/gis/gis.routes.ts
  backend/test/gis.test.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

Add metrics instrumentation and admin snapshot endpoint
  backend/src/app.ts
  backend/src/metrics/metrics.service.ts
  backend/src/modules/admin/admin.routes.ts
  backend/src/modules/incident/incident.service.ts
  backend/src/prisma.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

Add audit logs for dispatch and system broadcasts
  backend/src/modules/admin/system.controller.ts
  backend/src/modules/dispatch/dispatch.controller.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

Add observability and load-check guidance
  docs/observability-load.md
Due: prettier --write

Harden user RBAC and staff role handling
  backend/prisma/schema.prisma
  backend/src/modules/admin/admin.routes.ts
  backend/src/modules/auth/auth.service.ts
  backend/test/userRbac.test.ts
  backend/test/utils/factories.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

Harden user RBAC and staff role handling
  backend/src/modules/admin/admin.routes.ts
  backend/test/userRbac.test.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

Document remaining implementation sprints
  docs/implementation-plan.md
Due: prettier --write

Enhance admin user management filters
  frontend/src/pages/admin/UsersPage.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

Add sample incident upload artifact
  backend/uploads/incident-photos/1766129991400-7cb023da-329a-40c1-bcb9-ce03aca75b29.jpg
Due: none

Add agency admin CRUD safeguards
  backend/src/modules/admin/admin.routes.ts
  backend/test/adminCrud.test.ts
  backend/test/utils/factories.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

Revamp admin agency console
  frontend/src/pages/admin/AgenciesPage.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

Harden AI client and GIS access controls
  backend/src/modules/gis/gis.routes.ts
  backend/src/modules/gis/gis.service.ts
  backend/src/modules/incident/aiClient.ts
  backend/src/modules/incident/incident.service.ts
  backend/src/modules/system/health.controller.ts
  backend/test/gis.test.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

Add AI golden regressions and docs
  .github/workflows/ci.yml
  ai-service/README.md
  ai-service/data/golden_multilingual.csv
  ai-service/requirements.txt
  ai-service/test_multilingual_golden.py
Due: prettier --write

Add correlation IDs and metrics auth checks
  backend/src/app.ts
  backend/src/logger.ts
  backend/src/metrics/metrics.service.ts
  backend/src/modules/incident/incident.routes.ts
  backend/test/adminMetrics.test.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

Add load smoke tooling and runbook
  .github/workflows/load-smoke.yml
  backend/scripts/seedLoadUsers.ts
  docs/observability-load.md
  load/README.md
  load/artillery.smoke.yml
  load/baselines/README.md
  load/locustfile.py
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

Harden production env examples and infra
  ai-service/.env.example
  backend/.env.example
  frontend/.env.example
  infra/docker-compose.prod.yml
  infra/docker-compose.yml
Due: prettier --write

Add production readiness runbooks
  docs/deployment/backup-restore.md
  docs/deployment/full-system-guide.md
  docs/deployment/production-secrets.md
  docs/observability-load.md
  docs/testing/bugs.md
  docs/testing/release-checklist.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx,json,md,css,scss,html,yaml,yml}
  npx --prefix backend eslint --config backend/eslint.config.js: any of: backend/**/*.{ts,tsx}
  npx --prefix frontend eslint --config frontend/eslint.config.js: any of: frontend/**/*.{ts,tsx}
  npx --prefix responder-app eslint --config responder-app/eslint.config.js: any of: responder-app/**/*.{ts,tsx}
