Repository amuyif523/georise-main: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js, npx --prefix frontend eslint --config frontend/eslint.config.js, npx --prefix responder-app eslint --config responder-app/eslint.config.js

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx,json,md,css,scss,html,yaml,yml}": "prettier --write",
  "backend/**/*.{ts,tsx}": "npx --prefix backend eslint --config backend/eslint.config.js",
  "frontend/**/*.{ts,tsx}": "npx --prefix frontend eslint --config frontend/eslint.config.js",
  "responder-app/**/*.{ts,tsx}": "npx --prefix responder-app eslint --config responder-app/eslint.config.js"
}

fix(auth): resolve 500 error in login by replacing require with import
  backend/debug_user.ts
  backend/src/modules/auth/auth.service.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

feat(governance): implement audit logging and multi-agency coordination
  backend/lint.txt
  backend/lint_output.txt
  backend/prisma/schema.prisma
  backend/src/app.ts
  backend/src/events/incidentEvents.ts
  backend/src/middleware/audit.ts
  backend/src/modules/incident/incident.controller.ts
  backend/src/modules/incident/incident.routes.ts
  backend/src/modules/incident/incident.service.ts
  backend/test/audit.test.ts
  backend/vitest.unit.config.ts
  frontend/lint_frontend.txt
  frontend/src/components/incident/IncidentDetailPane.tsx
  frontend/src/pages/AgencyDashboard.tsx
  frontend/src/pages/CitizenDashboard.tsx
  frontend/src/test/LoginRegister.test.tsx
  frontend/src/types/incidents.ts
  responder-app/index.html
  responder-app/package-lock.json
  responder-app/package.json
  responder-app/src/components/LoginForm.tsx
  responder-app/src/hooks/useLocationTracker.ts
  responder-app/src/i18n.ts
  responder-app/src/main.tsx
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js, npx --prefix frontend eslint --config frontend/eslint.config.js, npx --prefix responder-app eslint --config responder-app/eslint.config.js

fix(types): resolve IDE typescript errors in audit middleware and tests
  backend/src/middleware/audit.ts
  backend/test/audit.test.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

chore: configure lint-staged and quality gates
  .lintstagedrc.json
  ai-service/tests/test_preprocessing.py
  frontend/src/pages/RegisterPage.tsx
  frontend/src/test/LoginRegister.test.tsx
  frontend/src/test/ReportIncidentWizard.test.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

fix(frontend): resolve failing unit tests and improve accessibility selectors
  frontend/src/pages/RegisterPage.tsx
  frontend/src/test/ReportIncidentWizard.test.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

chore: commit remaining changes (audit.ts, ai tests)
  ai-service/test_output_ai.txt
  ai-service/test_output_ai_3.txt
  ai-service/test_output_ai_4.txt
  ai-service/tests/__pycache__/test_preprocessing.cpython-311-pytest-9.0.2.pyc
  backend/src/middleware/audit.ts
  backend/test/audit.test.ts
  backend/test/setup.ts
  backend/test_output.txt
  backend/test_output_2.txt
  backend/test_output_3.txt
  backend/test_output_4.txt
  backend/test_output_5.txt
  backend/test_output_6.txt
  frontend/test_output_frontend.txt
  frontend/test_output_frontend_2.txt
  frontend/test_output_frontend_3.txt
  frontend/test_output_frontend_4.txt
  frontend/test_output_frontend_5.txt
  frontend/test_output_frontend_6.txt
  frontend/test_output_frontend_7.txt
  frontend/test_output_frontend_8.txt
  frontend/test_output_frontend_9.txt
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

fix(backend): implement stateful mock for userRbac test
  backend/test/userRbac.test.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

fix(ai): correct severity logic and add logic tests
  ai-service/tests/test_logic.py
  ai-service/utils/severity.py
Due: none

chore: configure lint-staged for backend/frontend separation
  .lintstagedrc.json
Due: prettier --write

feat: implement immutable audit logging middleware
  backend/src/middleware/audit.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

feat: finalize production transition and quality gates (skip hooks due to environment issue)
  ai-service/test_output_ai_logic.txt
  ai-service/test_output_ai_logic_2.txt
  backend/scripts/verify-production-readiness.ts
  backend/src/events/incidentEvents.ts
  backend/src/modules/agency/agency.controller.ts
  backend/src/modules/agency/agency.routes.ts
  backend/src/modules/agency/agency.service.ts
  backend/src/modules/incident/incident.controller.ts
  backend/src/modules/incident/incident.routes.ts
  backend/src/modules/incident/incident.service.ts
  backend/test_output_backend_initial.txt
  backend/test_output_rbac.txt
  backend/test_output_rbac_2.txt
  backend/test_output_rbac_3.txt
  backend/test_output_rbac_4.txt
  backend/test_output_rbac_5.txt
  backend/test_output_rbac_6.txt
  backend/test_output_rbac_7.txt
  backend/test_output_rbac_8.txt
  eslint_output.txt
  eslint_output_utf8.txt
  frontend/src/components/incident/AgencySelectionModal.tsx
  frontend/src/components/incident/IncidentDetailPane.tsx
  frontend/src/lib/api.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js, npx --prefix frontend eslint --config frontend/eslint.config.js

feat: implement advanced agency analytics (FR-08) and fix lint-staged config
  .lintstagedrc.json
Due: prettier --write

feat: finalize live responder tracking (FR-06) and update walkthrough
  frontend/src/pages/AgencyMap.tsx
  responder-app/src/hooks/useLocationTracker.ts
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js, npx --prefix responder-app eslint --config responder-app/eslint.config.js

chore: finalize evaluation reports and project documentation
  backend/scripts/generate-evaluation-report.ts
  evaluation_report.md
  load-test-results.json
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

feat: finalize citizen trust tiers and automated verification bypass
  backend/src/modules/admin/admin.routes.ts
  backend/src/modules/incident/incident.service.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

fix: finalize multilingual translations and RBAC sidebar visibility
  frontend/src/components/ui/AppSidebar.tsx
  frontend/src/locales/am/translation.json
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

chore: prepare final system evaluation report and build artifacts for defense
  docs/presentation/screenshots.md
Due: prettier --write

fix: refactor evaluation report script to use safe pg driver and bypass prisma init issues
  backend/scripts/generate-evaluation-report.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

chore: project completion - final tasks and documentation
  backend/prisma_init_error.log
  backend/scripts/debug_pg.js
Due: prettier --write

feat(auth): auto-initialize responder profile on registration
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/auth.types.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

feat(agency): implement agency-led staff onboarding and management
  backend/src/modules/agency/agency.controller.ts
  backend/src/modules/agency/agency.routes.ts
  backend/src/modules/agency/agency.service.ts
  frontend/src/components/ui/AppSidebar.tsx
  frontend/src/main.tsx
  frontend/src/pages/agency/StaffManagementPage.tsx
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js, npx --prefix frontend eslint --config frontend/eslint.config.js

feat(incident): enforce agency data isolation for responders
  backend/src/modules/incident/incident.controller.ts
  backend/src/modules/incident/incident.routes.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

fix(frontend): resolve lint errors in staff management page
  frontend/src/pages/agency/StaffManagementPage.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

feat(backend): Implement automated push notifications for incident assignment (Task 3)
  backend/scripts/test-assign-push.ts
  backend/src/modules/auth/auth.controller.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/auth/auth.validation.ts
  backend/src/modules/dispatch/dispatch.controller.ts
  backend/src/modules/dispatch/dispatch.service.ts
  backend/src/modules/incident/incident.service.ts
  backend/src/modules/push/push.service.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

feat(frontend): Add notification permission management UI (Task 4)
  frontend/src/components/NotificationManager.tsx
  frontend/src/components/ui/AppHeader.tsx
  frontend/src/components/ui/NotificationToggle.tsx
  frontend/src/context/NotificationContext.tsx
  frontend/src/main.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

feat(backend): Register push routes and controllers (Task 3 cleanup)
  backend/src/app.ts
  backend/src/modules/push/push.controller.ts
  backend/src/modules/push/push.routes.ts
  backend/src/utils/seed-helper.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

chore: Commit remaining scripts and update gitignore
  backend/.gitignore
  backend/debug_assign.txt
  backend/scripts/test-push.ts
  backend/src/server.ts
  backend/test_output.txt
  frontend/src/sw.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js, npx --prefix frontend eslint --config frontend/eslint.config.js

feat(backend): Implement atomic incident assignment and status management
  backend/scripts/test-atomic-assignment.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/dispatch/dispatch.controller.ts
  backend/src/modules/dispatch/dispatch.service.ts
  backend/src/modules/incident/incident.routes.ts
  backend/src/modules/incident/incident.service.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

fix(backend): correct recommendation filtering and enable responder location updates
  backend/scripts/verify-recommendation-filtering.ts
  backend/src/modules/responders/responder.routes.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

feat(incident): implement resolve logic and automated responder release
  backend/db_state.json
  backend/db_state.txt
  backend/read_log.js
  backend/scripts/check-db.ts
  backend/scripts/ensure-agency-active.ts
  backend/scripts/test-resolve-incident.ts
  backend/scripts/test-socket-updates.ts
  backend/socket_test_log.txt
  backend/src/app.ts
  backend/src/modules/agency/agency.routes.ts
  backend/src/modules/auth/auth.service.ts
  backend/src/modules/dispatch/dispatch.service.ts
  backend/src/modules/incident/incident.routes.ts
  backend/src/socket.ts
  backend/test_output.txt
  backend/test_output_2.txt
  backend/test_output_3.txt
  backend/test_output_4.txt
  backend/test_output_5.txt
  backend/test_output_6.txt
  backend/test_output_backend_initial.txt
  backend/test_output_rbac.txt
  backend/test_output_rbac_2.txt
  backend/test_output_rbac_3.txt
  backend/test_output_rbac_4.txt
  backend/test_output_rbac_5.txt
  backend/test_output_rbac_6.txt
  backend/test_output_rbac_7.txt
  backend/test_output_rbac_8.txt
  frontend/src/pages/AgencyMap.tsx
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js, npx --prefix frontend eslint --config frontend/eslint.config.js

feat(db): add acknowledgedAt to Incident model
  backend/prisma/schema.prisma
Due: none

feat(dispatch): implement acknowledge and decline incident workflow
  backend/src/modules/dispatch/dispatch.controller.ts
  backend/src/modules/dispatch/dispatch.routes.ts
  backend/src/modules/dispatch/dispatch.service.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

feat(api): add getIncidentDetails endpoint
  backend/src/modules/incident/incident.controller.ts
  backend/src/modules/incident/incident.routes.ts
  backend/src/modules/incident/incident.service.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

test(e2e): add script to verify interactive dispatch workflow
  backend/scripts/test-dispatch-flow.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

feat(ui): update IncidentDetailPane with accept/decline logic
  frontend/src/components/incident/IncidentDetailPane.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

feat(ui): update AgencyMap incident type with acknowledgedAt
  frontend/src/pages/AgencyMap.tsx
Due: prettier --write, npx --prefix frontend eslint --config frontend/eslint.config.js

test(backend): add script to verify decline re-routing and auto-assignment
  backend/scripts/test-decline-rerouting.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

perf(responder): implement spatial movement filter to reduce map jitter
  responder-app/src/hooks/useLocationTracker.ts
Due: prettier --write, npx --prefix responder-app eslint --config responder-app/eslint.config.js

feat(dispatch): implement connection heartbeat to detect silent responder failures
  backend/src/jobs/heartbeat.job.ts
  backend/src/server.ts
  backend/src/socket.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js

feat(dispatch): implement connection heartbeat to detect silent responder failures
  backend/src/jobs/sla.job.ts
  backend/src/modules/push/push.service.ts
Due: prettier --write, npx --prefix backend eslint --config backend/eslint.config.js
